.register-container{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#eef4ff;

    padding:40px;

}

.register-card{

    width:500px;

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.1);

}

.register-card h1{

    text-align:center;

    color:#1e3a8a;

    margin-bottom:25px;

}

.register-card input,
.register-card select{

    width:100%;

    padding:14px;

    margin:10px 0;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:16px;

}

.register-card button{

    width:100%;

    padding:14px;

    margin-top:20px;

    border:none;

    background:#2563eb;

    color:white;

    font-size:17px;

    border-radius:8px;

    cursor:pointer;

}

.register-card button:hover{

    background:#1d4ed8;

}
.register-card h1{
    text-align:center;
    color:#1e3a8a;
    font-size:34px;
    margin-bottom:10px;
}

